extends ../../layouts/auth

append config
  - pageName = 'Recover Password'
  - pageUrl = 'pages-recover-password'

block content
  .d-flex.min-vh-100.align-items-center.justify-content-center.py-4
    .container
      .row.justify-content-center
        .col-12.col-sm-9.col-md-7.col-lg-5.col-xl-4

          .text-center.mb-4
            .auth-logo-box.d-inline-flex.align-items-center.justify-content-center.text-white.rounded-3.mb-3(style="width: 44px; height: 44px;")
              i.fa-solid.fa-lock
            h5.fw-bold.mb-1 Set New Password
            p.text-body-secondary.small Create a strong password to protect your account.

          .card.auth-card.border-0.rounded-3
            .card-body.p-4

              form(action='#' method='post')
                .mb-3
                  label.form-label.fw-semibold.small(for='inputPassword') Password
                  .input-group
                    input#inputPassword.form-control.border-end-0(
                      type='password' 
                      placeholder='New password'
                    )
                    button.input-group-text.bg-transparent.border-start-0(
                      type="button"
                      data-pr-toggle-password="inputPassword"
                    )
                      i.fa-regular.fa-eye.text-body-secondary

                .mb-4
                  label.form-label.fw-semibold.small(for='inputConfirmPassword') Confirm Password
                  input#inputConfirmPassword.form-control(
                    type='password' 
                    placeholder='Confirm new password'
                  )

                .d-grid
                  button.btn.btn-primary(type='submit') Update Password

          .text-center.mt-3
            p.text-body-secondary.small.mb-0
              | Remembered your password? 
              a.fw-semibold.text-decoration-none.auth-footer-link(href=baseUrl + 'auth/sign-in.html') Sign In
