extends ../../layouts/auth

append config
  - pageName = 'Sign In'
  - pageUrl = 'pages-sign-in'

block content
  .d-flex.min-vh-100.align-items-center.justify-content-center.py-4
    .container
      .row.justify-content-center
        .col-12.col-sm-9.col-md-7.col-lg-5.col-xl-4

          .text-center.mb-4
            .auth-logo-box.d-inline-flex.align-items-center.justify-content-center.text-white.rounded-3.mb-3(style="width: 44px; height: 44px;")
              i.fa-solid.fa-layer-group
            h5.fw-bold.mb-1 Welcome Back
            p.text-body-secondary.small Please enter your details to sign in.

          .card.auth-card.border-0.rounded-3
            .card-body.p-4
              
              form
                .mb-3
                  label.form-label.fw-semibold.small(for='inputEmail') Email Address
                  input#inputEmail.form-control(
                    type='email' 
                    name='email' 
                    placeholder='name@company.com'
                  )
                
                .mb-3
                  .d-flex.justify-content-between.align-items-center.mb-1
                    label.form-label.fw-semibold.small(for='inputPassword') Password
                    a.small.text-decoration-none.auth-footer-link(href=baseUrl + 'auth/reset-password.html') Forgot password?
                  
                  .input-group
                    input#inputPassword.form-control.border-end-0(
                      type='password' 
                      name='password' 
                      placeholder='Enter your password'
                    )
                    button.input-group-text.bg-transparent.border-start-0(
                      type="button"
                      data-pr-toggle-password="inputPassword"
                    )
                      i.fa-regular.fa-eye.text-body-secondary

                .mb-3
                  .form-check
                    input#rememberMe.form-check-input(type='checkbox' name='remember-me' checked)
                    label.form-check-label.text-body-secondary.small(for='rememberMe') Keep me signed in

                .d-grid.mb-3
                  button.btn.btn-primary(type='submit') Sign In

                .position-relative.text-center.mb-3
                  hr.border-secondary-subtle.m-0
                  span.position-absolute.top-50.start-50.translate-middle.bg-body.px-2.text-body-secondary.small Or continue with

                .row.g-2
                  .col-6
                    button.btn.btn-outline-secondary.btn-social.w-100(type='button')
                      i.fab.fa-google.me-2
                      | Google
                  .col-6
                    button.btn.btn-outline-secondary.btn-social.w-100(type='button')
                      i.fab.fa-github.me-2
                      | GitHub

          .text-center.mt-3
            p.text-body-secondary.small.mb-0
              | Don't have an account? 
              a.fw-semibold.text-decoration-none.auth-footer-link(href=baseUrl + 'auth/sign-up.html') Create one
