block config

- var menuItems = require('../../data/menu.json')

nav#sidebar.sidebar.js-sidebar
  .sidebar-content.js-simplebar
    a.sidebar-brand(href='index.html')
      span.sidebar-brand-text.align-middle #{siteName}
    ul.sidebar-nav
      each item in menuItems
        if item.collapsed 

          - var itemPaths = item.items.map(i => i.path)
          - var isActive = itemPaths.includes(pageUrl)  // Usar includes para la verificación

          li.sidebar-item(class=(isActive ? 'active' : ''))
            a.sidebar-link(class=(isActive ? '' : 'collapsed') data-bs-target=`#${item.path}` data-bs-toggle="collapse")
              i.align-middle(data-feather=item.icon)
              span.align-middle= item.title
            ul.sidebar-dropdown.list-unstyled.collapse(id=item.path, data-bs-parent="#sidebar", class=(isActive ? 'show' : ''))
              each subItem in item.items
                li.sidebar-item(class=(pageUrl === subItem.path ? 'active' : ''))
                  a.sidebar-link(href=`${subItem.link}.html`)= subItem.title

        else if item.header
          li.sidebar-header= item.title

        else
          li.sidebar-item(class=(pageUrl === item.path ? 'active' : ''))
            a.sidebar-link(href=`${item.link}.html`)
              i.align-middle(data-feather=item.icon)
              span.align-middle= item.title
