block config

- var menuItems = [
-   {
-     "title": "Dashboard",
-     "path": "dashboard",
-     "icon": "sliders",
-     "link": "dashboard"
-   },
-   {
-     "title": "Pages",
-     "header": true,
-   },
-   {
-     "title": "Pages",
-     "path": "pages",
-     "icon": "file",
-     "collapsed": true,
-     "items": [
-       {
-         "title": "Settings",
-         "path": "pages-settings",
-         "link": "pages-settings"
-       },
-       {
-         "title": "Blank Page",
-         "path": "pages-blank",
-         "link": "pages-blank"
-       }
-     ]
-   },
-   {
-     "title": "Profile",
-     "path": "pages-profile",
-     "icon": "user",
-     "link": "pages-profile"
-   },
-   {
-     "title": "Auth",
-     "path": "auth",
-     "icon": "users",
-     "collapsed": true,
-     "items": [
-       {
-         "title": "Sign In",
-         "path": "auth-sign-in",
-         "link": "auth-sign-in"
-       },
-       {
-         "title": "Sign Up",
-         "path": "auth-sign-up",
-         "link": "auth-sign-up"
-       },
-       {
-         "title": "Reset Password",
-         "path": "auth-reset-password",
-         "link": "auth-reset-password"
-       },
-       {
-         "title": "Reccover Password",
-         "path": "auth-recover-password",
-         "link": "auth-recover-password"
-       }
-     ]
-   },
-   {
-     "title": "Erros",
-     "path": "errors",
-     "icon": "coffee",
-     "collapsed": true,
-     "items": [
-       {
-         "title": "404",
-         "path": "error-404",
-         "link": "error-404"
-       },
-       {
-         "title": "500",
-         "path": "error-500",
-         "link": "error-500"
-       }
-     ]
-   },
-   {
-     "title": "Tools & Components",
-     "header": true,
-   },
-   {
-     "title": "UI Elements",
-     "path": "ui-elementsth",
-     "icon": "users",
-     "collapsed": true,
-     "items": [
-       {
-         "title": "Buttons",
-         "path": "ui-buttons",
-         "link": "ui-buttons"
-       },
-       {
-         "title": "Cards",
-         "path": "ui-cards",
-         "link": "ui-cards"
-       },
-       {
-         "title": "General UI",
-         "path": "ui-general",
-         "link": "ui-general"
-       },
-       {
-         "title": "Images",
-         "path": "ui-images",
-         "link": "ui-images"
-       },
-       {
-         "title": "Tabs",
-         "path": "ui-tabs",
-         "link": "ui-tabs"
-       }
-     ]
-   },
-   {
-     "title": "Tables",
-     "path": "tables",
-     "icon": "grid",
-     "collapsed": true,
-     "items": [
-       {
-         "title": "Table bootstrap",
-         "path": "table-bootstrap",
-         "link": "table-bootstrap"
-       }
-     ]
-   },
-   {
-     "title": "Forms",
-     "path": "forms",
-     "icon": "file",
-     "collapsed": true,
-     "items": [
-       {
-         "title": "Basics inputs",
-         "path": "forms-basic-inputs",
-         "link": "forms-basic-inputs"
-       },
-       {
-         "title": "Tagify",
-         "path": "forms-tagify",
-         "link": "forms-tagify"
-       },
-     ]
-   },
-   {
-     "title": "Icons",
-     "path": "icons",
-     "icon": "coffee",
-     "collapsed": true,
-     "items": [
-       {
-         "title": "Feather",
-         "path": "icons-feather",
-         "link": "icons-feather"
-       },
-       {
-         "title": "Font Awesome",
-         "path": "icons-awesome",
-         "link": "icons-awesome"
-       },
-     ]
-   },
-   {
-     "title": "Plugins & Addons",
-     "header": true,
-   },
-   {
-     "title": "Charts",
-     "path": "charts-chartjs",
-     "icon": "bar-chart-2",
-     "link": "charts-chartjs"
-   },
-   {
-     "title": "Maps",
-     "path": "maps-google",
-     "icon": "map",
-     "link": "maps-google"
-   },
-   {
-     "title": "SweetAlert",
-     "path": "sweetalert",
-     "icon": "bell",
-     "link": "sweetalert"
-   },
- ]

nav#sidebar.sidebar.js-sidebar
  .sidebar-content.js-simplebar
    a.sidebar-brand(href='index.html')
      span.sidebar-brand-text.align-middle #{siteName}
    ul.sidebar-nav
      each item in menuItems
        if item.collapsed 

          - var itemPaths = item.items.map(i => i.path)
          - var isActive = itemPaths.includes(pageUrl)  // Usar includes para la verificación

          li.sidebar-item(class=(isActive ? 'active' : ''))
            a.sidebar-link(class=(isActive ? '' : 'collapsed') data-bs-target=`#${item.path}` data-bs-toggle="collapse")
              i.align-middle(data-feather=item.icon)
              span.align-middle= item.title
            ul.sidebar-dropdown.list-unstyled.collapse(id=item.path, data-bs-parent="#sidebar", class=(isActive ? 'show' : ''))
              each subItem in item.items
                li.sidebar-item(class=(pageUrl === subItem.path ? 'active' : ''))
                  a.sidebar-link(href=`${subItem.link}.html`)= subItem.title

        else if item.header
          li.sidebar-header= item.title

        else
          li.sidebar-item(class=(pageUrl === item.path ? 'active' : ''))
            a.sidebar-link(href=`${item.link}.html`)
              i.align-middle(data-feather=item.icon)
              span.align-middle= item.title
