//- layout.pug
include ../config/config
block config

doctype html
html(lang="es")
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='')
    meta(name='author' content='')
    
    // Primary Meta Tags
    title #{pageName} | #{siteName}
    meta(name='title' content=`${pageName} | ${siteName}`)
    meta(name='description' content=`${siteName} is a Premium Bootstrap 5 Admin Dashboard featuring over 800 components, 10+ plugins and 20 example pages using Vanilla JS.`)
    meta(name='keywords' content='bootstrap 5, bootstrap, bootstrap 5 admin dashboard, bootstrap 5 dashboard, bootstrap 5 charts, bootstrap 5 calendar, bootstrap 5 datepicker, bootstrap 5 tables, bootstrap 5 datatable, vanilla js datatable, dashboard, admin dashboard')
    // Open Graph / Facebook
    meta(property='og:type' content='website')
    meta(property='og:url' content=`https://pirulug.github.io/piruadmin-bootstrap-5-dashboard/${pageUrl}.html`)
    meta(property='og:title' content=`${pageName} | ${siteName}`)
    meta(property='og:description' content=`${siteName} is a Premium Bootstrap 5 Admin Dashboard featuring over 800 components, 10+ plugins and 20 example pages using Vanilla JS.`)
    meta(property='og:image' content='https://pirulug.github.io/piruadmin-bootstrap-5-dashboard/img/background.png')
    // Twitter
    meta(property='twitter:card' content='summary_large_image')
    meta(property='twitter:url' content=`https://pirulug.github.io/piruadmin-bootstrap-5-dashboard/${pageUrl}.html`)
    meta(property='twitter:title' content=`${pageName} | ${siteName}`)
    meta(property='twitter:description' content=`${siteName} is a Premium Bootstrap 5 Admin Dashboard featuring over 800 components, 10+ plugins and 20 example pages using Vanilla JS.`)
    meta(property='twitter:image' content='https://pirulug.github.io/piruadmin-bootstrap-5-dashboard/img/background.png')

    // Favicon
    link(rel='apple-touch-icon' sizes='180x180' href='img/favicon/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='img/favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='img/favicon/favicon-16x16.png')
    link(rel='manifest' href='img/favicon/site.webmanifest')

    // Css Bootstrap
    link(rel="stylesheet" href="css/fontawesome.css")
    link(rel="stylesheet" href="css/app.css")

    script.
      (function () {
        const storedTheme = localStorage.getItem('theme');
        const prefersDarkScheme = window.matchMedia('(prefers-color-scheme: dark)').matches;
        const theme = storedTheme || (prefersDarkScheme ? 'dark' : 'light');
        document.documentElement.setAttribute('data-bs-theme', theme);
      })();

    block styles
  //- body(data-bs-spy="scroll" data-bs-target="#navbar-example")
  body

    .wrapper
      include ../includes/sidebar

      .main
        // NavBar
        include ../includes/navtop

        // Content
        .content
          .mb-3
            h1.h3.d-inline.align-middle #{pageName}

          block content

        // Footer
        include ../includes/footer

    // Dark & Ligth
    //- include ../includes/dark-ligth

    // Js Bootstrap
    script(src='js/feathericons.js')
    script(src='js/app.js')

    block scripts 

